



<a href="{{ path('route_edit',{ 'id' : dt_obj.id }) }}">
    {{ dt_obj.nom }}
</a>



{#<a title="Éditer" class="btn btn-default btn-sm" href="http://localhost/b2atunisie_dev/web/app_dev.php/crm/client_invoices/clientinvoice/edit/526"><span class="glyphicon glyphicon-pencil"></span></a>#}


<a href="{{ path('route_detail',{ 'id' : dt_obj.id }) }}">
    {{ dt_obj.nom }}
</a>

{#<a title="Détail" class="btn btn-default btn-sm" href="http://localhost/b2atunisie_dev/web/app_dev.php/crm/client_invoices/clientinvoice/detail/526"><span class="glyphicon glyphicon-info-sign"></span></a>#}